/* Color Variables */
/* Font Styles */
.row {
  max-width: 960px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  color: #44b154;
  font-family: 'Nunito', sans-serif;
}

@media (min-width: 400px) {
  p {
    margin-bottom: 10px;
  }
  body {
    font-size: 15px;
  }
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .work-desc h1 {
    margin-top: 0px;
  }
  .jinna, .undertune, .looking {
    text-align: center;
  }
}

/* Header Styles */
.header {
  background: white;
  color: #44b154;
}

.logo {
  width: 70%;
  float: left;
  margin-right: 2%;
  font-size: 40px;
  font-weight: lighter;
}

@media (max-width: 600px) {
  .logo {
    padding-left: 20px;
  }
}

.logo, .menu-toggle {
  padding: 20px 0px;
}

.menu-toggle {
  width: 28%;
  float: left;
  font-size: 30px;
  text-align: right;
  margin-top: 5px;
}

.menu-toggle .fa-barshover {
  cursor: pointer;
}

/* Menu Styles */
.menu {
  display: none;
  background: #F5F5F5;
}

.menu ul {
  display: inline-block;
  margin-bottom: 0px;
}

.menu li {
  float: left;
  list-style: none;
  padding: 20px 20px 12px;
  font-size: 20px;
  margin-bottom: 0px;
  color: #44b154;
}

.menu li a {
  color: #44b154;
  text-decoration: none;
  font-weight: lighter;
}

/* About Styles */
.about {
  background: #44b154;
}

.about .row {
  padding: 60px 0px;
}

.about h1 {
  text-align: center;
  color: white;
  font-size: 40px !important;
  margin-top: 0px;
}

.about-text {
  line-height: 1.6;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  text-align: center;
}

.skill-div {
  text-align: center;
  margin: 10px 0px;
}

/* Social Styles */
.social {
  background: #F5F5F5;
  padding: 30px 0px;
  text-align: center;
}

.social i {
  font-size: 40px;
  margin: 0px 20px;
}

.social a {
  color: #44b154;
}

/* My Work Styles */
.work-img img {
  width: 100%;
}

.work .row {
  padding: 60px 0px;
}

/* Jinna Styles */
.jinna {
  background: #E9B988;
  color: white;
}

.jinna .jinna-btn {
  background: #965356;
  border: none;
}

.jinna .jinna-btn:hover {
  background: #AF6A6D;
}

.jinna .jinna-btn:active {
  background: #AF6A6D;
}

.jinna img {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.38);
}

/* Undertune Styles */
.undertune {
  background: #384C6B;
  color: #E6E9EB;
}

.undertune .under-btn {
  background: #A9CC38;
  border: none;
  color: #384C6B;
}

.undertune img {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.38);
}

/* Looking Nice Styles */
.looking {
  background: #e74c3c;
  color: #fff;
}

.looking .looking-btn {
  background: #444;
  border: none;
}

.looking img {
  box-shadow: 2px 2px rgba(0, 0, 0, 0.38);
}

/* Contact Styles */
.contact {
  padding: 60px 0px;
}

.contact h1 {
  text-align: center;
}
