/* Color Variables */
/* Font Styles */
body {
  color: #44b154;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
}

p {
  margin-bottom: 10px;
}

.six.columns {
  width: 50%;
  margin: 0px;
}

.row {
  max-width: 980px;
  margin: 0 auto;
  width: 100%;
}

/* Header Styles */
.header {
  background: white;
  color: #44b154;
}

.logo {
  width: 70%;
  float: left;
  margin-right: 2%;
  font-size: 40px;
  font-weight: lighter;
}

@media (max-width: 600px) {
  .logo {
    padding-left: 20px;
  }
}

.logo, .menu-toggle {
  padding: 10px 0px;
}

.menu-toggle {
  width: 28%;
  float: left;
  font-size: 30px;
  text-align: right;
  margin-top: 5px;
}

.menu-toggle .fa-barshover {
  cursor: pointer;
}

/* Menu Styles */
.menu {
  display: none;
  background: #F5F5F5;
}

.menu ul {
  display: inline-block;
  margin-bottom: 0px;
}

.menu li {
  float: left;
  list-style: none;
  padding: 20px 20px 12px;
  font-size: 20px;
  margin-bottom: 0px;
  color: #44b154;
}

.menu li a {
  color: #44b154;
  text-decoration: none;
  font-weight: lighter;
}

/* About Styles */
.about {
  background-color: #44b154;
}

.about .row {
  padding: 60px 0px;
}

.about h1 {
  margin-top: 60px !important;
  text-align: center;
  color: white;
  font-size: 50px !important;
  margin-top: 0px;
  text-transform: uppercase;
}

.about .arrow-down {
  font-size: 100px;
}

.about-text {
  line-height: 1.6;
  font-size: 16px;
  color: white;
  font-weight: lighter;
  text-align: center;
}

.skill-div {
  text-align: center;
  margin: 10px 0px;
}

/* Social Styles */
.social {
  background: #F5F5F5;
  padding: 30px 0px;
  text-align: center;
}

.social i {
  font-size: 40px;
  margin: 0px 20px;
}

.social a {
  color: #44b154;
}

/* My Work Styles */
.work-desc {
  text-align: left;
  padding: 60px;
}

@media only screen and (max-width: 600px) {
  .work-desc {
    width: 100% !important;
  }
}

.work-img img {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .work-img {
    display: none;
  }
}

.work .row {
  padding: 60px 0px;
}

/* Jinna Styles */
.jinna {
  background: #E9B988;
  color: white;
}

.jinna .row {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px !important;
}

.jinna .jinna-btn {
  background: #965356;
  border: none;
}

.jinna .jinna-btn:hover {
  background: #AF6A6D;
}

.jinna .jinna-btn:active {
  background: #AF6A6D;
}

.jinna img {
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .jinna .work-desc {
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 600px) {
  .jinna {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/jinna.png);
    background-size: cover;
    background-position: center;
  }
  .undertune {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/undertune.png);
    background-size: cover;
    background-position: center;
    background-color: none;
  }
  .looking {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/lookingnice.png);
    background-size: cover;
    background-position: center;
    background-color: transparent !important;
  }
}

/* Undertune Styles */
.undertune {
  background: #384C6B;
  color: #E6E9EB;
}

.undertune .row {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px !important;
}

.undertune .under-btn {
  background: #A9CC38;
  border: none;
  color: #384C6B;
}

.undertune img {
  object-fit: cover;
}

.undertune .work-desc {
  text-align: right;
}

/* Looking Nice Styles */
.looking {
  background: #e74c3c;
  color: #fff;
}

.looking .row {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px !important;
}

.looking .looking-btn {
  background: #444;
  border: none;
}

.looking img {
  object-fit: cover;
}

/* Contact Styles */
.contact {
  padding: 60px 0px;
}

.contact h1 {
  text-align: center;
}

@media (min-width: 400px) {
  .container {
    width: 100%;
  }
}
