/* Color Variables */
$primary: #44b154;
$secondary: #F5F5F5; 


/* Font Styles */
$main-font: 'Nunito', sans-serif;



$mq-mobile: 768px;
$mq-tablet: 1024px;



body {
	color: $primary;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
}

p {
	margin-bottom: 10px;
}

.six.columns {
	width: 50%;
	margin: 0px;
}

.row {
	max-width: 980px;
	margin: 0 auto;
	width: 100%;
}


/* Header Styles */

.header {
	background: white;
	color: $primary;
}

.logo {
	width: 70%;
	float: left;
	margin-right: 2%;
	font-size: 40px;
	font-weight: lighter;
	
	@media (max-width: 600px) {
		padding-left: 20px;
	}

}

.logo, .menu-toggle {
	padding: 10px 0px;
}

.menu-toggle {
	width: 28%;
	float: left;
	font-size: 30px;
	text-align: right;
	margin-top: 5px;
	.fa-bars {
		&hover {
			cursor: pointer;
		}
	}

}

/* Menu Styles */

.menu {
	display: none;
	background: $secondary;

	ul {
		display: inline-block;
		margin-bottom: 0px;
	}
	li {
		float: left;
		list-style: none;
		padding: 20px 20px 12px;
		font-size: 20px;
		margin-bottom: 0px;
		color: $primary;

		a {
			color: $primary;
			text-decoration: none;
			font-weight: lighter;
		}
	}
}
/* About Styles */

.about {
	height:100vh;
	background-color: rgba(68,177,84,1);
	padding: 10px solid white;

	.row {
		padding: 60px 0px;
		max-width: 700px;
	}

	h1 {
		margin-top: 60px!important;
		text-align: center;
		color: white;
		font-size: 50px!important;
		margin-top: 0px;
		text-transform: uppercase;
	}

	.down-arrow {
		max-width: 40px;
		transition: all .2s ease;
		-webkit-transition: all .2s ease;
		opacity: .5;
		position: absolute;
		bottom: 40px;

		&:hover {
			transform: scale(1.2);
			transition: all .2s ease;
			-webkit-transition: all .2s ease;
			opacity: .7;
		}
	}
}

.about-text {
	line-height: 1.6;
	font-size: 16px;
	color: white;
	font-weight: lighter;
	text-align: center;
}

.skill-div {
	text-align: center;
	margin: 10px 0px;
}

/* Social Styles */

.social {
	background: $secondary;
	padding: 30px 0px;
	text-align: center;

	i {
		font-size: 40px;
		margin: 0px 20px;
	}

	a {
		color: $primary;
	}
}

/* My Work Styles */

.work-desc {
	text-align: left;
	padding: 60px;

	@media only screen and (max-width: 600px) {
	   	width:100%!important;
	}
}

.work-img {
	img {
		width: 100%;
	}

	@media only screen and (max-width: 600px) {
	    display:none;
	}
}
.work {
	.row {
		padding: 60px 0px;
	}
}




/* Jinna Styles */
.jinna {
	.row {
		max-width: 100%;
		margin: 0 auto;
		padding: 0px!important;
	}

	background: #E9B988;
	color: white;

	.jinna-btn {
		background: #965356;
		border: none;

		&:hover {
			background: #AF6A6D;
		}

		&:active {
			background: #AF6A6D;
		}
	}
	img {
		object-fit:cover;
	}

	@media only screen and (max-width: 600px) {
	   	.work-desc {
	   		background-size: cover;
	   		background-position: center;
	   	}
	}
}

@media only screen and (max-width: 600px) {
	.jinna {
		background: 
    		linear-gradient(
      			rgba(0, 0, 0, 0.5),
      			rgba(0, 0, 0, 0.5)
    		),
    		url(../img/jinna.png);
	   	background-size: cover;
	   	background-position: center;
	}
	.undertune {
		background: 
    		linear-gradient(
      			rgba(0, 0, 0, 0.5),
      			rgba(0, 0, 0, 0.5)
    		),
    		url(../img/undertune.png);
	   	background-size: cover;
	   	background-position: center;
	   	background-color: none;
	}
	.looking {
		background: 
    		linear-gradient(
      			rgba(0, 0, 0, 0.5),
      			rgba(0, 0, 0, 0.5)
    		),
    		url(../img/lookingnice.png);
	   	background-size: cover;
	   	background-position: center;
	   	background-color: transparent!important;
	}
}


/* Undertune Styles */

.undertune {
	.row {
		max-width: 100%;
		margin: 0 auto;
		padding: 0px!important;
	}

	background:#384C6B;
	color: #E6E9EB;

	.under-btn {
		background: #A9CC38;
		border: none;
		color: #384C6B;
	}
	img {
		object-fit:cover;
	}

	.work-desc {
		text-align:right;
	}
}

/* Looking Nice Styles */

.looking {
	.row {
		max-width: 100%;
		margin: 0 auto;
		padding: 0px!important;
	}

	background: #e74c3c;
	color: #fff;

	.looking-btn {
		background: #444;
		border:none;
	}
	img {
		object-fit:cover;
	}
}

/* Contact Styles */

.contact {
	padding: 60px 0px;
	h1 {
		text-align: center;
	}
}

@media (min-width: 400px) {
	.container {
		width: 100%;
	}
}
