/* Color Variables */
$primary: #44b154;
$secondary: #F5F5F5; 


/* Font Styles */
$main-font: 'Nunito', sans-serif;


/* Media Queries */


.row {
	max-width: 960px;
	margin: 0 auto;
}

body {
	color: $primary;
	font-family: 'Nunito', sans-serif;
}

/* Header Styles */

.header {
	background: white;
	color: $primary;
}

.logo {
	font-size: 40px;
	font-weight: lighter;
}

.logo, .menu-toggle {
	padding: 20px 0px;
}

.menu-toggle {
	font-size: 30px;
	text-align: right;

	.fa-bars {
		&hover {
			cursor: pointer;
		}
	}
}

/* Menu Styles */

.menu {
	display: none;
	background: $secondary;

	ul {
		display: inline-block;
		margin-bottom: 0px;
	}
	li {
		float: left;
		list-style: none;
		padding: 20px 20px 12px;
		font-size: 20px;
		margin-bottom: 0px;
		color: $primary;

		a {
			color: $primary;
			text-decoration: none;
			font-weight: lighter;
		}
	}
}
/* About Styles */

.about {
	background: $primary;

	.row {
		padding: 60px 0px;
	}

	h1 {
		text-align: center;
		color: white;
		font-size: 40px!important;
		margin-top: 0px;
	}
}

.about-text {
	line-height: 1.6;
	font-size: 16px;
	color: white;
	font-weight: lighter;
	text-align: center;
}

.skill-div {
	text-align: center;
	margin: 10px 0px;
}

/* Social Styles */

.social {
	background: $secondary;
	padding: 30px 0px;
	text-align: center;

	i {
		font-size: 40px;
		margin: 0px 20px;
	}

	a {
		color: $primary;
	}
}

/* My Work Styles */

.work-desc {
}

.work-img {
	img {
		width: 100%;
	}
}
.work {
	.row {
		padding: 60px 0px;
	}
}

/* Jinna Styles */
.jinna {
	background: #E9B988;
	color: white;

	.jinna-btn {
		background: #965356;
		border: none;

		&:hover {
			background: #AF6A6D;
		}

		&:active {
			background: #AF6A6D;
		}
	}
	img {
		box-shadow: 2px 2px rgba(0, 0, 0, 0.38);
	}
}

/* Undertune Styles */

.undertune {
	background:#384C6B;
	color: #E6E9EB;

	.under-btn {
		background: #A9CC38;
		border: none;
		color: #384C6B;
	}
	img {
		box-shadow: 2px 2px rgba(0, 0, 0, 0.38);
	}
}

/* Looking Nice Styles */

.looking {
	background: #e74c3c;
	color: #fff;

	.looking-btn {
		background: #444;
		border:none;
	}
	img {
		box-shadow: 2px 2px rgba(0, 0, 0, 0.38);
	}
}

/* Contact Styles */

.contact {
	padding: 60px 0px;
	h1 {
		text-align: center;
	}
}
